.flex-container {
    background-color:rgb(106, 130, 153);
    display: flex;
    height: 500px;


}
.flex-container > div{
   margin: 10px;
   padding: 20px;
   font-size: 35px;
   width: 48%;
   text-align: justify;
   text-indent: 60px;
   color:white;
}
h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px 2px gray;
}
footer{
    margin: 10px;
}