@import "about.css";
@import url(contact.css);
@import "blog.css";
@import url(service.css);
*{
   margin: 0;    
}
.header{
    height: 400px;
    background-image:linear-gradient(rgba(0,0,0,0.67),rgba(0,0,0,0.29)),url(../img/fourteen-alexander-kuzmin.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.nav{

      height: 80px;
      position: relative;
      top:0;
      position: sticky;
}
#im{
    height: 100px;
    width: 160px;
    
}
.logo{
    position: absolute;
    width:30%;
    left:40px;
}
.menu{
    position: absolute;
    width:70%;
    right:0;

}
.menu menu li{
    display: inline-block;
    width:180px;
    height: 90px;
    line-height: 80px;
    /* border: 2px solid white; */
    font-size: 40px;
    text-align: center;
    border-radius: 10px 10px;
    text-align: center;
    
}
.menu menu li:hover{
    font-size: 41px;
    text-decoration: underline;
    text-shadow: 2px 2px 4px blue;
}
footer{
    background-color: gray;
    color:white;
    font-size: 30px;
    text-align: center;
    /* position: fixed;
    bottom: 0; */
    width:100%;
    margin: 10px;
    
   
}
li>a{
     color:white;
     text-decoration: none;
}
.team{
       height: 400px;
}
.team-member{
    background-image: radial-gradient(circle,rgb(72, 71, 149),cyan);
    width:24%;
    float:left;
    margin: 7px;
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
}
.team-member:hover{
    box-shadow:-6px -6px 4px rgb(54,100,255);
    transform:translateY(-7px);
    transition: 2.5s ease;

}
.team-member>img{
    width:200px;
    /* border:2px solid white; */
    border-radius: 50%;
    box-shadow:inset 8px 8px 8px rgb(151, 228, 232);
    background-image: radial-gradient(rgb(72, 71, 149),rgb(91, 166, 219));
    margin: 10px 0;
}
.team-member>h1,.team-member>p{
    color:white;
    text-shadow: 3px 3px 2px blue;
    margin: 5px 0;
}
.h1{
    font-size: 50px;
     text-align: center; 
     color:white; 
      text-shadow: 3px 3px 3px blue;
      text-decoration: underline;

}
#btn{
    height: 50px;
    width: 200px;
    background-color: transparent;
    border: 2px solid white;
    color:white;
    font-size: 20px;
    border-radius: 20px 30px;
    box-shadow:inset 4px 4px 3px blue;
    cursor: pointer;
}
@media screen and (max-width:568px){
       .menu{
           display: none;
       }
       .team-member{
        float: none;
        width: 95%;
       
        background-image: radial-gradient(circle,white,gray);
       }
       .team{
          height:80%
          
       }
       footer{
        bottom: 0;
        
       }
}

